# Ignore .vscode directory
.vscode

# Ignore terraform.tfvars file (which may contain sensitive information)
terraform.tfvars

# Ignore .terraform directory (which contains cached provider plugins, etc.)
.terraform/

# Ignore other local state and backup files
*.tfstate
*.tfstate.*
.terraform.lock.hcl